<!-- Language List -->
{{ $class := .Class }}
{{ $context := .Context }}
{{ $pageLang := $context.Lang }}
{{ $base:= urls.Parse site.Home.Permalink }}
{{ $siteLanguages := site.Home.AllTranslations }}
{{ $pageLink := replace (replace $context.RelPermalink (add $pageLang "/") "") $base.Path "/" }}

<!-- Need to check if we're inside the guides or categories o/w doesnt make sense -->
<!-- Not right approach as searchindex built per language -->
{{ range site.Data.translations.translationKey }} <!-- loop over translation keys -->
{{ range . }} <!-- loop over languages -->
{{ range . }} <!-- loop over the dict with the entry -->
{{ errorf . }}
{{ end }}
{{ end }}
{{ end }}

{{ if $context.IsTranslated }}
  <select class="{{ $class }}" onchange="location = this.value">
    {{ range $siteLanguages }}
    {{errorf .Language }}
      {{ if eq (string $pageLang) (string .Language) }}
        <option
          id="{{ .Language }}"
          value="{{ replace (add .RelPermalink $pageLink) `//` `/` }}"
          selected>
          {{ .Language.LanguageName }}
        </option>
      {{ else }}
        <option
          id="{{ .Language }}"
          value="{{ replace (add .RelPermalink $pageLink) `//` `/` }}">
          {{ .Language.LanguageName }}
        </option>
      {{ end }}
    {{ end }}
  </select>
{{ end }}
