<!-- Language List -->
{{ $class := .Class }}
{{ $context := .Context }}
{{ $pageLang := $context.Lang }}
{{ $base:= urls.Parse site.Home.Permalink }}
{{ $siteLanguages := site.Home.AllTranslations }}
{{ $pageLink := replace (replace $context.RelPermalink (add $pageLang "/") "") $base.Path "/" }}

{{ if $context.IsTranslated }}
  <select class="{{ $class }}" onchange="location = this.value">
    {{ with .Params.translationKey }}
      {{ $translationKey := .Params.translationKey }}
      {{ errorf (printf "translationKey:" )}}
      {{ errorf (string $translationKey) }}
      {{ range site.Data.translations.translationKey }} <!-- loop over translation keys -->
      {{ if eq (string $translationKey ) (string .translationKey )}}
      {{ errorf (string .translationKey) }}
      {{ errorf (printf "range translationKey") }}
      {{ range . }} <!-- loop over languages in that translation key -->
        {{ if eq (string $pageLang) (string .Language) }}
          <option
            id="{{ .Language }}"
            value="{{ replace (add .RelPermalink $pageLink) `//` `/` }}"
            selected>
            {{ .Language.LanguageName }}
          </option>
      {{ else }}
        <option
          id="{{ .Language }}"
          value="{{ replace (add .RelPermalink $pageLink) `//` `/` }}">
          {{ .Language.LanguageName }}
        </option>
      {{ end }} <!-- end eq pageLang language -->
      {{ end }} <!-- end range . -->
      {{ end }} <!-- end if -->
      {{ end }} <!-- end range translationKey -->
    {{ else }} <!-- tranlsation key empty -->
      {{ if eq (string $pageLang) (string .Language) }}
        {{ errorf (printf "In the first one") }}
        <option
          id="{{ .Language }}"
          value="{{ replace (add .RelPermalink $pageLink) `//` `/` }}"
          selected>
          {{ .Language.LanguageName }}
        </option>
      {{ else }}
        {{ errorf (string .RelPermalink) }}
        {{ errorf (printf "hola") }}
        {{ errorf $pageLink }}
        {{ errorf (printf "asldkfjsf") }}
        <option>
          id="{{ .Language }}"
          value="{{ replace (add .RelPermalink $pageLink) `//` `/` }}"> <!--  execute of template failed at <add .RelPermalink $pageLink>: error calling add: can’t apply the operator to the values -->
          {{ .Language.LanguageName }}
        </option>
        {{ errorf (printf "finished") }}
      {{ end }} <!-- end if else -->
    {{ end }} <!-- end with else -->
  </select>
{{ end }} <!-- end if translated -->
