{{ define "main" }}
  {{ partial "page-header" . }}


  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="md:col-10 lg:col-6 mx-auto">
          <form action="{{ site.Params.contact_form_action }}" method="POST">
            <div class="mb-6">
              <label for="name" class="form-label">
                {{ T "full_name" }} <span class="text-red-500">*</span>
              </label>
              <input
                id="name"
                name="name"
                class="form-input"
                placeholder="John Doe"
                type="text" />
            </div>
            <div class="mb-6">
              <label for="email" class="form-label">
                {{ T "your_email" }} <span class="text-red-500">*</span>
              </label>
              <input
                id="email"
                name="email"
                class="form-input"
                placeholder="john.doe@email.com"
                type="email" />
            </div>
            <div class="mb-6">
              <label for="message" class="form-label">
                {{ T "anything_else" }} <span class="text-red-500">*</span>
              </label>
              <textarea
                id="message"
                name="message"
                class="form-input"
                placeholder="{{ T "message_goes_here" }}"
                rows="8"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">
              {{ T "submit" }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
{{ end }}
